html{
    scroll-behavior: auto !important;
}
.navbar{
    background-image: url("../img/carousel1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.nav-link{
    font-family: "Cabin";
    font-weight: 700;
    font-size: 22px

}

body{
    background-color: black;
}
h1,h6,p{
    color: white;
    /*text-align: center;*/
}
/*p{
    font-family: "Lato";
    font-weight: 300;
}*/
h3,h6,h1{
    font-family: "Cabin";
    font-weight: 700;
}
.card-text{
    text-align: left;
    font-family: "Lato";
    font-weight: 300;
}
.card-body{
    background-color:#00c5e4 ;
}

.iconos{
    background-color: #00c5e4 ;
    color: white;
}
.btn{
    background-color:#00c5e4;
    color: white;
    text-decoration: none;
}

footer{
    background-color: #00c5e4;
    /*color: white;*/
}

