.navbar{
    background-color:aqua;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.navbar-brand{
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 40px;

}
/*body{
    font-family: Helvetica;
}*/




footer{
    background-color: aqua;
    color: white;
}

